.memo-list {
  width: 50%;
  padding: 10px;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.memo-item {
  all: unset;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  overflow-wrap: anywhere;
}

.memo-item:hover {
  text-decoration: none;
}
